<footer>
    <div>
        <p>All Rights reserved under Infosys SpringBoard Multi cloud Java Batch oct-2024. Follow us on </p>
        <ul>
            <li><a href="https://www.telegram.com" target="_blank"><img src="telegram.jpeg"/></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><img src="twitter.png"/></a></li>
            <li><a href="https://www.youtube.com" target="_blank"><img src="youtube.jpeg"/></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><img src="fb_icon.png"/></a></li>
        </ul>
    </div>
</footer>
