<div id="about">
    <div class="about">
        <p id="paragraph">
            This project is a web application that offers a cohesive 
            and user-friendly experience for managing files across 
            Google Drive and OneDrive. It simplifies file 
            management by allowing users to upload files to both 
            platforms simultaneously, transfer files between them, 
            and download files as needed.
            Provide a centralized platform for managing 
            files across Google Drive and OneDrive. 
            Enhance file management efficiency and user 
            productivity. 
            Ensure secure and seamless interaction with 
            cloud APIs using OAuth2 and JWT. 
        </p>
        <hr>
        <h2>User Guide </h2>
        <h4>Setup: </h4>
        <p>Access the application URL. <br>
        For the first time create an account by 
        providing your details in this platform. <br>
        Log in using your Google or Microsoft account 
        credentials. </p>

        <h4>Using the Application: </h4>
        <p>Upload files by selecting both platforms. <br>
        Drag and Drop feature available to upload 
        files. <br>
        Use the transfer feature to move files between 
        Google Drive and OneDrive. <br>
        Download files by navigating to the desired 
        storage service. </p>

        <h4>Troubleshooting: </h4>
        <p><b>Issue:</b> Cannot log in.<br>
        <b>Solution:</b> Verify API key configuration and 
        network connectivity. </p>
    </div>
</div>
